
#include <iostream>
using namespace std;
struct tcovjek{
  char ime[40],prezime[40],valuta[30];
	int godina,ai_vrijemeulaska,bi_vrijemezadrzavanja,ci_prioritet,di_transakcija;
	float stanje_tekuci,stanje_devizni;
	tcovjek*sljedeci;
};

struct tsalter{
	tcovjek*front;
	tcovjek*rear;	
};

void init(tsalter*neki_red){
	tcovjek*glava=new tcovjek;
	glava->sljedeci=NULL;
	neki_red->front=glava;
	neki_red->rear=glava;
}

void enqueue(tsalter*neki_red,tcovjek*neka_osoba){
	//tcovjek*nova_osoba=neka_osoba;
	neki_red->rear->sljedeci=neka_osoba;
	neki_red->rear=neka_osoba;
	neka_osoba->sljedeci=NULL;
}

void dequeue(tsalter*neki_red){
	tcovjek*pomocni=neki_red->front;
	neki_red->front=pomocni->sljedeci;
	delete pomocni;
}

bool isempty(tsalter*neki_red){
	//cout<<"==============="<<neki_red->rear<<endl<<neki_red->front<<endl;
	if(neki_red->rear==neki_red->front)return true;
	else return false;
}

tcovjek*front(tsalter*neki_red){
	return neki_red->front->sljedeci;
}

